<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ELVISMGT.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.diagnostics>
    <sources>
      <!-- This section defines the logging configuration for My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog"/>
          <!-- Uncomment the below section to write to the Application Event Log -->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information"/>
    </switches>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
      <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>
  </system.diagnostics>
  <!--/////////////////////////Start WCF Client Configuration///////////////////////////-->
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IBizService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="01:00:00" sendTimeout="00:10:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="true">
          <readerQuotas maxDepth="500"  maxArrayLength="20000000" maxStringContentLength="20000000" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false"/>
          <security mode="None">
            <transport clientCredentialType="None"/>
            <message clientCredentialType="None"/>
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <!--Multi endpoint client definition, see endpoint switcher in ApplicationEvents -> MyApplication_Startup()-->
      <!--1. Connect to "Local Development Server"-->
      <endpoint name="RemoteDeploymentServer" address="http://localhost:8081/WCF/BizService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IBizService" contract="SRBiz.IBizService" >
        <identity>
          <dns value="localhost"/>
        </identity>
      </endpoint>
      <!--2. Connect to "Remote Deployment Server"-->
      <endpoint name="RemoteDeploymentServerAA" address="http://121.141.172.41:8091/WCF/BizService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IBizService" contract="SRBiz.IBizService" >
        <identity>
          <!--Specify domain name of deployed server if have-->
          <dns value="121.141.172.41"/>
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
  <!--/////////////////////////End WCF Client Configuration///////////////////////////-->
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <applicationSettings>
    <ELVISMGT.My.MySettings>
      <setting name="Domain" serializeAs="String">
        <value />
      </setting>
      <setting name="RecvEmail" serializeAs="String">
        <value />
      </setting>
      <setting name="IDPswd" serializeAs="String">
        <value />
      </setting>
      <setting name="SavedAppPath" serializeAs="String">
        <value />
      </setting>
      <setting name="USR_ID" serializeAs="String">
        <value />
      </setting>
    </ELVISMGT.My.MySettings>
  </applicationSettings>
</configuration>
